@charset "UTF-8";
  #wrapper{
    width:1260px;
    background-color:white;
  	margin-left: auto;
  	margin-right: auto;
  }
  #wrapper #Rubrik h1{
    font-size: 45px;
    color: black;
    margin-bottom: 10px;
  }
  #wrapper #Logo{
    float:right;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #wrapper #img1 p{
    font-size: 16px;
    color: black;
  }
  #wrapper #img1{
    margin-bottom: 40px;
    float: left;
  }
  #wrapper #img2{
    margin-bottom: 20px;
    float: right;
  }
  #wrapper #film1 video{
    width:800px;
    height:450px;
    margin-left: 250px;
  }
  #wrapper #header{
    width:1260px;
    height: 90px;
    background-color:purple;
  	border: solid 2px purple;
  	margin-bottom: 10px;
    margin-left: 25px;
  }
  #wrapper #header li{
  	display: inline;

  }
  #wrapper #header ul li a:hover{
  	background-color:#E3E3E3;
  }
  #wrapper #header ul li a{
  	width:252px;
  	line-height:90px;
  	text-decoration:none;
  	height:90px;
  	color:gold;
  	font-weight:lighter;
  	font-size:35px;
  	float: left;
  	text-align: center;
  }
  #wrapper #header ul{
  	list-style-type: none;
  	padding: 0;
  	margin: 0;
  }
  #wrappers #Img3 img{
    width: 500px;
    height: 500px;
  }
  footer{
    width:100%;
    height:100px;
    background-color: #ccc;

  }

  footer p{
    text-align: center;
    line-height:100px;
    font-family:Tahoma;
    color:black;
    font-size:13px;
    height: 100px;
}

#wrapper{
  width:1260px;
  background-color:white;
	margin-left: auto;
	margin-right: auto;
}
#wrapper #Rubrik h1{
  font-size: 45px;
  color: black;
  margin-bottom: 10px;
}
#wrapper #Logo{
  float:right;
  margin-left: 20px;
  margin-bottom: 10px;
}
#wrapper #img1 p{
  font-size: 16px;
  color: black;
}
#wrapper #img1{
  margin-bottom: 40px;
  float: left;
}
#wrapper #img2{
  margin-bottom: 20px;
  float: right;
}
#wrapper #img3 img{
  margin-top: 20px;
  width: 400px;
  height: 500px;
}
#wrapper #film1 video{
  width:800px;
  height:450px;
  margin-left: 250px;
}
#wrapper #header{
  width:1260px;
  height: 90px;
  background-color:purple;
	border: solid 2px purple;
	margin-bottom: 10px;
  margin-left: 25px;
}
#wrapper #header li{
	display: inline;

}
#wrapper #header ul li a:hover{
	background-color:#E3E3E3;
}
#wrapper #header ul li a{
	width:252px;
	line-height:90px;
	text-decoration:none;
	height:90px;
	color:gold;
	font-weight:lighter;
	font-size:35px;
	float: left;
	text-align: center;
}
#wrapper #header ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#wrapper a.navbuttons{
  font-size: 26px;
  text-decoration: none;
  color: purple;
}
footer{
  width:100%;
  height:100px;
  background-color: #ccc;

}

footer p{
  text-align: center;
  line-height:100px;
  font-family:Tahoma;
  color:black;
  font-size:13px;
  height: 100px;

}
@media screen and (max-width:768px)
{
  #wrapper #Rubrik h1{
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
  }
  #wrappers{
    width:768px;
    background-color:white;
  	margin-left: auto;
  	margin-right: auto;
  }
  #wrapper #header ul li a{
  	width:90px;
  	line-height:90px;
  	text-decoration:none;
  	height:90px;
  	color:gold;
  	font-weight:lighter;
  	font-size:12px;
  	float: left;
  	text-align: center;
  }
  #wrapper #header{
    width:450px;
    height: 90px;
    background-color:purple;
    border: solid 2px purple;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
}
#wrapper #img1 img{
  margin-bottom: 40px;
  float: left;
  width: 470px;
  margin-left: 0px;
}
#wrapper #img2 img{
  margin-bottom: 40px;
  float: left;
  width: 470px;
  margin-left: 0px;
}
#wrapper #film1 video{
  width:450px;
  height:300px;
  margin-left: 5px;
}
#wrappers #Img3{
  width: 200px;
  height: 200px;
}
#wrapper #Img3 img{
  height: 360px;
  width: 450px;
}
}
